catalogo/catalogo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalogo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="libro" minOccurs="1" maxOccurs="unbounded" type="tipoLibro"/>
            </xs:sequence>
            <xs:attribute name="nombreBiblioteca" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>


<!-- AQUI PONGO LOS TIPOS DE ELEMENTOS PARA HACER MAS SECILLA LA LECTURA DEL CODIGO -->
    <xs:complexType name="tipoLibro">
        <xs:sequence>
            <xs:element name="titulo" type="xs:string"/>
            <xs:element name="autor" type="xs:string"/>
            <xs:element name="anio" type="tipoAnio"/>
            <xs:element name="genero" type="xs:string"/>
            <xs:element name="disponible" type="xs:boolean"/>
            <xs:element name="ejemplares" type="xs:positiveInteger"/>
        </xs:sequence>
        <xs:attribute name="isbn" type="tipoIsbn" use="required"/>
    </xs:complexType>

    <xs:simpleType name="tipoAnio">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1900"/>
            <xs:maxInclusive value="2025"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoIsbn">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}-[0-9]{2}-[0-9]{3}-[0-9]{4}-[0-9]"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
