EXAMEN/proyectos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="repositorio">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="proyecto" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string"/>
                            <xs:element name="categoria" type="xs:string"/>
                            <xs:element name="responsable" type="xs:string"/>
                            <xs:element name="fechaInicio" type="xs:date"/>
                            <xs:element name="version" type="xs:string"/>
                            <xs:element name="estado" type="valoresEstado"/>
                            <xs:element name="ruta" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="validoID" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="nombre" type="xs:string" use="required"/>
            <xs:attribute name="version" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="valoresEstado">
        <xs:restriction base="xs:string">
            <xs:enumeration value="borrador"/>
            <xs:enumeration value="revision"/>
            <xs:enumeration value="activo"/>
            <xs:enumeration value="archivado"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="validoID">
        <xs:restriction base="xs:ID">
            <xs:pattern value="P[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>