catalogo_002/catalogo002.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="catalogo" type="tipoCatalogo"/>

    <xs:complexType name="tipoCatalogo">
        <xs:sequence>
            <xs:element name="libro" type="tipoLibro" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="nombreBiblioteca" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="tipoLibro">
        <xs:sequence>
            <xs:element name="titulo" type="xs:string"/>
            <xs:element name="autor" type="xs:string"/>
            <xs:element name="anio" type="tipoAnio"/>
            <xs:element name="genero" type="xs:string"/>
            <xs:element name="disponible" type="xs:boolean"/>
            <xs:element name="ejemplares" type="xs:positiveInteger"/>
        </xs:sequence>

        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="isbn" type="tipoISBN" use="required"/>
    </xs:complexType>

    <xs:simpleType name="tipoAnio">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1900"/>
            <xs:maxInclusive value="2025"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoISBN">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}-[0-9]{2}-[0-9]{3}-[0-9]{4}-[0-9]"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>